<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" [formGroup]="registerForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" class="form-control" name="username"/>
    </div>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input id="fullName" formControlName="fullName" type="text" class="form-control" name="fullName"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" class="form-control" name="password" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Open New Account</button>
    </div>
  </form>
</div>
