<div>
  <table class="table">
    <thead>
      <tr>
        <th>Followers</th>
        <th>Following</th>
        <th>Posts</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th>{{dataOfUser.followersNum}}</th>
      <th>{{dataOfUser.followingNum}}</th>
      <th>{{dataOfUser.postsNum}}</th>
    </tr>
    </tbody>
  </table>


  <table class="table" id="tweets-table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Author</th>
      <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tweet of tweets">
      <td>{{tweet.id}}</td>
      <td>{{tweet.fullName}}</td>
      <td>{{tweet.author}}</td>
      <td>{{tweet.content}}</td>
    </tr>
    </tbody>
  </table>
</div>

