<table class="table" id="tweets-table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Author Name</th>
    <th>Author</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tweet of tweets">
    <td>{{tweet.id}}</td>
    <td>{{tweet.fullName}}</td>
    <td><a routerLink="/app/tweets/{{tweet.author}}">{{tweet.author}}</a></td>
    <td>{{tweet.content}}</td>
  </tr>
  </tbody>
</table>
